.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.customScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.customScroll::-webkit-scrollbar {
  width: 4px;
}

.customScroll::-webkit-scrollbar-track {
  margin-block: 4px;
  background: transparent;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}